* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #181a20;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
  font-size: 2.3rem;
  font-family: 'Gloria Hallelujah', cursive;
}

p {
  color: white;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}

.containerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #22666e;
  padding: 1rem 1rem;
  -webkit-animation-name: colorChange;
          animation-name: colorChange;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
}

@-webkit-keyframes colorChange {
  0% {
    background-color: #22666e;
  }
  40% {
    background-color: #d4a3be;
  }
  60% {
    background-color: #65b3be;
  }
  100% {
    background-color: #22666e;
  }
}

@keyframes colorChange {
  0% {
    background-color: #22666e;
  }
  40% {
    background-color: #d4a3be;
  }
  60% {
    background-color: #65b3be;
  }
  100% {
    background-color: #22666e;
  }
}

.containerNav #button {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 10px;
}

.containerNav .navBar {
  color: white;
  text-decoration: none;
  margin: 9px 9px;
  font-size: 1.3rem;
  font-family: 'Patrick Hand', cursive;
}

.containerNav .navBar:hover {
  text-decoration: underline;
  color: white;
}

.containerNav .navBar:focus {
  text-decoration: underline;
  outline: none;
  color: white;
}

#containerMain {
  width: 22rem;
  margin-right: auto;
  margin-left: auto;
}

#containerMain .introText {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

#containerMain #play {
  background-color: #65b3be;
  color: white;
  border: none;
  border-radius: 3rem;
  width: 75px;
  height: 75px;
  margin: 10px;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: 'Patrick Hand', cursive;
}

#containerMain #play .icon {
  width: 2.5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -4px;
}

#containerMain #play:hover {
  background-color: #fc8fcb;
  -webkit-box-shadow: 1px 1px 15px 15px rgba(252, 143, 203, 0.5);
  box-shadow: 1px 1px 15px 15px rgba(252, 143, 203, 0.5);
}

#containerMain #play:hover .icon {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#containerMain #play:focus {
  background-color: #fc8fcb;
  outline: none;
  -webkit-box-shadow: 1px 1px 15px 15px rgba(252, 143, 203, 0.5);
  box-shadow: 1px 1px 15px 15px rgba(252, 143, 203, 0.5);
}

#containerMain .containerTeddy {
  width: 22rem;
  height: 25rem;
}

#containerMain .containerTeddy #teddy {
  display: block;
  width: 20rem;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

#containerMain #letterFind {
  width: 22rem;
  height: 100%;
  color: white;
  height: 100%;
  text-align: center;
}

#containerMain #letterFind span {
  opacity: 0%;
  margin: 10.5px;
  font-size: 1.1rem;
}

#containerMain #letterFind p {
  width: 15px;
  margin: 9px;
  border-style: none none solid none;
  border-color: white;
  border-width: 3.2px;
  display: inline-block;
}

#containerMain .buttonAlphabet {
  background-color: #22666e;
  color: white;
  border: none;
  border-radius: 1rem;
  width: 30px;
  height: 30px;
  margin: 10px;
  font-size: larger;
  font-weight: 800;
}

#containerMain .buttonAlphabet:hover {
  background-color: #28aebd;
}

#containerMain .buttonAlphabet:focus {
  outline: none;
  background-color: #28aebd;
}
/*# sourceMappingURL=main.css.map */